<!DOCTYPE HTML>
<html> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
        <title>Ng Sample</title> 

        <!-- Importuj jQuery -->
        <script type="text/javascript"   
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Importuj AngularJS -->
        <script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

        <!-- Importuj XEditable -->
        <link href="bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
        <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>

        <!-- Importuj Booststrap --> 
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
                rel="stylesheet">      
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

        <!-- Importuj kod aplikacji --> 
        <script type="text/javascript" src="app.js"></script> 
        <link href="app.css" rel="stylesheet" type="text/css"> 
    </head>
    <body>    <h1>Welcome to my Ng Sample!</h1> 
        <!-- ten blok definiuje sekcję aplikacji userApp --> 
        <div ng-app="userApp">
        
            <!-- Ten blok definiuje kontroler UserCtrl -->
            <div ng-controller="UserCtrl"> 
                <table class="table table-bordered"> 
                    <thead>
                        <th>Operacja</th>
                        <th>Nazwisko i imię</th>
                        <th>Nr indeksu</th>
                        <th>JavaScript</th>
                        <th>jQuery</th>
                        <th>PHP</th>
                        <th>Suma</th>
                        <th ng-if="users.length >0"></th>          
                    </thead>
                    <!-- prezentacja zawartości modelu w każdym wierszu osobny obiekt użytkownika -->
                    <tbody ng-repeat="user in users" ng-switch on="user.state">

                        <!-- Szablon edycji użytkownika pokazywany warunkowo --> 
                        <tr ng-switch-when="edit">
                            <td>
                                <input 
                                    type="button" 
                                    class="btn btn-success" 
                                    ng-click="saveUser(user);" 
                                    value="Save" 
                                />
                                <input 
                                    type="button" 
                                    class="btn btn-danger" 
                                    ng-click="cancelEdit(user);" 
                                    value="Cancel" 
                                />

                            </td> 
                            <td>
                                <input  
                                    type="text" 
                                    class="form-control" 
                                    ng-model="user.imie"
                                    
                                />
                            </td>   
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    ng-model="user.indeks" 
                                />
                            </td> 
                            <td>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    ng-model="user.javascript" 
                                />   
                            </td>
                            <td><input 
                                type="number" 
                                class="form-control" 
                                ng-model="user.jquery" 
                                 />  
                            </td>
                            <td><input 
                                type="number" 
                                class="form-control" 
                                ng-model="user.php" 
                                 />  
                            </td>                
                            <td>&nbsp;</td>  
                        </tr>
                        <!-- Szablon wyświetlania użytkownika -->           
                        <tr ng-switch-default>
                            <td>
                                <input 
                                    type="button" 
                                    class="btn btn-primary" 
                                    ng-click="editUser(user);" 
                                    value="Edit" 
                                />
                                <input 
                                    type="button" 
                                    class="btn btn-danger" 
                                    ng-click="deleteUser(user);" 
                                    value="Delete"
                            />
                            </td>
                            <td>{{user.imie}} </td>
                            <td>{{user.indeks}}</td>
                            <td>{{user.javascript}}</td>
                            <td>{{user.jquery}}</td>              
                            <td>{{user.php}}</td>
                            <td>{{user.javascript + user.jquery + user.php}}</td>
                        </tr>
                    </tbody> 
                    <!-- Formularz dodawania rekordu -->          
                    <tbody> 
                        <tr>
                            <td>Podsumowanie</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>{{sumujJavascript()}}</td>
                            <td>{{sumujJquery()}}</td>
                            <td>{{sumujPhp()}}</td>
                            <td>{{sumujJavascript() + sumujJquery() + sumujPhp()}} </td>
                        </tr>          
                        <tr>
                            <td>
                                <input 
                                    type="button" 
                                    class="btn btn-primary" 
                                    ng-click="addUser();" 
                                    value="Add"
                                />
                            </td>
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    ng-model="newUser.imie" 
                                />                       
                            </td>
                            <td>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    ng-model="newUser.indeks" 
                                />                   
                            </td>
                            <td>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    ng-model="newUser.javascript" 
                                />     
                            </td>
                            <td>
                                <input 
                                    type="number" 
                                    class="form-control" 
                                    ng-model="newUser.jquery" 
                                />  
                            </td>
                            <td>
                                <input 
                                    type="number" 
                                    class="form-control"
                                    ng-model="newUser.php"  
                                />  
                            </td>
                            <td>&nbsp;</td>
                        </tr> 
                    </tbody> 
                </table>
            </div> <!-- Koniec ng-controller -->
        </div>  <!-- Koniec ng-app -->
    </body>
</html>
        